<!DOCTYPE html>
<html>
<head>
	<title>Leave the REST to us</title>
	<!-- JQUERY -->
	<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">	

	<!-- FONT -->
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cormorant:400,500i,700|Pacifico" rel="stylesheet">

	<!-- FONT AWESOME -->
	<script src="https://use.fontawesome.com/41e6a86952.js"></script>

	<!-- STYLESHEET -->
	<link rel="stylesheet" type="text/css" href="/css/app.css">
</head>

<body>

