<% include partials/header %>
<h1>Leave the Rest to us</h1>
<div class="wrapper-r results"><center>
Here's your schedule, <%= userName %>. </center><br><br>

	<%for (var c = 0; c < 24 * 4; c++) {%>
		<%if (c % 4 == 0) {%>
			<span class="timeslot" style="text-align:right;padding-right:7px;border-right:0;border-left:0;"><%= c / 4 %>:00</span>
		<%} else {%>
			<span class="timeslot" style="border-right:0;border-left:0;"></span>
		<%}%>
		<%for (var i = 0; i < 7; i++) {%>
			<%if (calendar[24 * 4 * i + c].asleep == true) {%>
				<span class="timeslot asleep"></span>
			<%} else if (calendar[24 * 4 * i + c].variable == true) { %>
				<span class="timeslot variable"><%= calendar[24*4*i+c].name%></span>
			<%} else if (calendar[24 * 4 * i + c].occupied == true) {%>
				<span class="timeslot occupied"></span>
			<%} else {%>
				<span class="timeslot free"></span>
			<%}%>
		<%}%>
		<div></div>
	<%}%>
</div>	


<!-- <script>
	$(document).ready(function() {
	    $('.variable').each(function () {
	        var hue = 'rgb(' + (Math.floor((256-0)*Math.random()) + 1) + ',' + (Math.floor((256-0)*Math.random()) + 1) + ',' + (Math.floor((256-0)*Math.random()) + 1) + ')';
	        $(this).css("background-color", hue);
	    });
	});
</script> -->
<% include partials/footer %>