<% include partials/header %>
<div class="middle-rect">
	<h1>Leave the Rest to us</h1>
	<div class="wrapper">
		<form action="/sleep_results" method="POST" class="frm">
			Hey there! What's your name?<br>
			<input type="text" name="name" required><br>

			How many hours do you usually sleep per night?<br>
			<input type="number" name="hours" min="1" max="24" step="0.5" style="width:50px;" required><br>

			How old are you?<br>
			<input type="number" name="age" min="0" max="130" style="width:50px;" required><br>

			How active are you throughout the day?<br>
			<div class="pict">
				<label class="radio-inline">
				  <img src="img/a1.png" class="ico"><input type="radio" name="active" id="active1" value="1" required class="icon"> 1
				</label>
				<label class="radio-inline">
				  <img src="img/a2.png" class="ico"><input type="radio" name="active" id="active2" value="2" class="icon"> 2
				</label>	
				<label class="radio-inline">
				  <img src="img/a3.png" class="ico"><input type="radio" name="active" id="active3" value="3" class="icon"> 3
				</label>	
				<label class="radio-inline">
				  <img src="img/a4.png" class="ico"><input type="radio" name="active" id="active4" value="4" class="icon"> 4
				</label>
				<label class="radio-inline">
				  <img src="img/a5.png" class="ico"><input type="radio" name="active" id="active5" value="5" class="icon"> 5
				</label><br>
			</div>
			<br>
			How stressed do you feel?<br>
			<div class="pict">
			<label class="radio-inline">
				  <img src="img/s1.png" class="ico"><input type="radio" name="stress" id="stress1" value="1" required class="icon"> 1 
				</label>
				<label class="radio-inline">
				  <img src="img/s2.png" class="ico"><input type="radio" name="stress" id="stress2" value="2" class="icon"> 2 
				</label>	
				<label class="radio-inline">
				  <img src="img/s3.png" class="ico"><input type="radio" name="stress" id="stress3" value="3" class="icon"> 3 
				</label>	
				<label class="radio-inline">
				  <img src="img/s4.png" class="ico"><input type="radio" name="stress" id="stress4" value="4" class="icon"> 4 
				</label>
				<label class="radio-inline">
				   <img src="img/s5.png" class="ico"><input type="radio" name="stress" id="stress5" value="5" class="icon"> 5
				</label>
			</div><br>
			<div style="margin-top:3em;text-align: center;"><button>Next</button></div>
		</form>
	</div>
</div>
<% include partials/footer %>