body {
	padding:0;
	font-family: 'Raleway';

	background: #7474BF; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #7474BF , #348AC7); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #7474BF , #348AC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	        
    color: white;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing:antialiased;
}

h1 {
	padding-top:30px;
	margin-top:0;
	text-align:center;
	font-size:4em;
	font-family: 'Pacifico', cursive;

}

input {
	color: black;
	filter: invert(0%)!important;
}

.middle-rect {
	height: 100%;
	top: 0;
    background-color: rgba(255,255,255,0.2);
 	width:40em;
 	margin: 0 auto;
}

 .wrapper {
 	font-size: 1.5em;
 	width: 70%;
 	margin: 0 auto;
 	margin-top: 1.4em;
 	padding-bottom: 8%;
 }

 .frm input {
 	margin-top: 0.4em;
 	margin-bottom: 1em;
 	border-radius: 5px;
 	border: none;
 	padding-left: 0.7em;
 	color: #3B3B3B;
 }

input::-webkit-input-placeholder {
	font-size:0.9em;
}
 
input:-moz-placeholder { /* Firefox 18- */
	font-size:0.9em;
}
 
input::-moz-placeholder {  /* Firefox 19+ */
	font-size:0.9em;
}
 
input:-ms-input-placeholder {  
	font-size:0.9em;
}

.frm label {
 	padding-top: 0.4em;
 	margin-bottom: 1em;
 	margin-right: -5px;
 }

button {
	background-color:#fff;
	opacity: 0.5;
	color:black;
	border:none;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	transition: all 0.3s;
}

button:hover {
	opacity: 0.8;
}

/* sleep */

.ico {
	width: 25px;
	height: 25px;
	filter: invert(100%);

}

.icon {
	transform: translateY(30px);
}

/* schedule */
.myCheckbox input {
	display: none;
}

.myCheckbox {
	margin: 0;
}

.myCheckbox span {
	display: block;
 	height: 10px;
 	border-right: 1px #7e7e7e solid;
 	border-bottom:1px #7e7e7e solid;
 	padding: 0;
    width: 100px;
    float: left;
    background-color: #fff;
    opacity: 0.7;
}

.myCheckbox input:checked + span {
	opacity:.3;
	background-color:#000; 
}

.wrapper-schedule {
 	text-align: center;
 	margin-top: 5em;
 	font-size: 0px;
 }

 .c-caption {
 	width: 700px;
 	margin: 0 auto;
 	text-align:left!important;
 	margin-top: 30px;
 	margin-bottom: 30px;
 }

/* tasks */

.task_form input {
	margin-bottom: 0.5em;
}

/* results */

.results {
 	width: 800px;
 	padding-bottom: 50px;
 }

.timeslot {
 	color: #000;
 	width: 12.4%;
 	height: 10px;
 	border-right: 1px solid #7e7e7e;
 	border-top:1px solid #7e7e7e;

 	padding: 0;
    margin: 0;
    float: left;
 }

 .results span {
 	width: 100px;
 	text-align:center;
  	font-size: 6pt;
 }

.results span:nth-of-type(32n - 31) {
 	color:#fff;
  	border:0!important;
 }
/*
 .results span:nth-of-type(32n - 30) {
 	border-top:1px solid #7e7e7e;
 }

 .results span:nth-of-type(32n - 29) {
 	border-top:1px solid #7e7e7e;
 }

 .results span:nth-of-type(32n - 28) {
 	border-top:1px solid #7e7e7e;
 }
 
 .results span:nth-of-type(32n - 27) {
 	border-top:1px solid #7e7e7e;
 }

 .results span:nth-of-type(32n - 26) {
 	border-top:1px solid #7e7e7e;
 }

 .results span:nth-of-type(32n - 25) {
 	border-top:1px solid #7e7e7e;
 }

 .results span:nth-of-type(32n - 24) {
 	border-top:1px solid #7e7e7e;
 }*/

.free {
	background-color: #fff;
	opacity:0.7;
}

 .occupied {
	opacity:.3;
	background-color:#000; } }

 .asleep {
 	border:none!important;
	opacity:.3;
	background-color:#000; }

.variable {
	opacity:.3;
	background-color:#fff; 
}
